<ion-view title="Add Employee" hide-nav-bar="true">
  <ion-content overflow-scroll="true" padding="false">
    <form class="list" novalidate name="userForm">
      <ion-item class="item-text-wrap alert-success" ng-show="message">{{message}}</ion-item>
      <label class="item item-input">
        <span class="input-label">Full Name</span>
        <input type="text" placeholder="First Name Last Name" ng-model="fullName" required>
      </label>

      <div style="max-height: 335px; overflow: hidden">
        <img src="{{picture}}" width="100%" height="auto" style="width: 100%; height: auto;">
      </div>
      <div class="button-bar item">
        <button class="button button-balanced button-outline icon-left ion-android-camera" ng-click="getPhoto(1)">Take Picture</button>
        <button class="button button-calm button-outline icon-left ion-android-folder-open" ng-click="getPhoto(0)">From Album</button>
      </div>
      <ion-item>
        <button type="submit" class="button button-calm button-block icon-left ion-person-add" ng-click="addEmployee(fullName)" ng-disabled="userForm.$invalid">Add Employee</button>
      </ion-item>
    </form>
  </ion-content>
</ion-view>
