<ion-view title="Directory">
  <ion-nav-buttons side="right">
    <button class="button button-calm icon-left ion-person-add" ng-click="add()" ng-show="isAdmin()"> Add</button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" class="has-header">
      <ion-list ng-controller="directoryCtrl" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar" ng-repeat="item in items" ng-click="showProfile(item)" can-swipe="true">
          <img ng-src="{{item.picture.url() || 'img/profilepic.png'}}">
          <h2>{{item.fullName}}</h2>
          <ion-option-button class="button-info" ng-click="edit(item)" ng-show="isAdmin()">Edit</ion-option-button>
          <ion-option-button class="button-info" ng-click="delete(item, $index)" ng-show="isAdmin()">Delete</ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
