<ion-view title="Edit Profile">
  <ion-nav-buttons side="right">
    <button class="button button-calm icon-left ion-loop" ng-click="updateProfile()">Update</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">

    <div class="card" ng-show="message">
      <div class="item item-text-wrap alert-success">{{message}}</div>
    </div>
    <div class="button-bar">
      <button class="button button-balanced button-outline icon-left ion-android-camera" ng-click="getPhoto(1)">Take Picture</button>
      <button class="button button-calm button-outline icon-left ion-android-folder-open" ng-click="getPhoto(0)">From Album</button>
    </div>
    <form class="list" style="margin-top: 1rem">
      <div  style="max-height: 350px; overflow: hidden">
        <img ng-src="{{picture || 'img/profilepic.png'}}" width="100%" height="auto" style="width: 100%; height: auto;">
      </div>
    </form>
  </ion-content>
</ion-view>
