<ion-view hide-nav-bar="true">
  <ion-content overflow-scroll="true" padding="'true'" class="solid-bg" scroll="false">
    <form class="list" ng-submit="doLogin()" style="margin-top: 1em">
      <div class="item">
        <div class="logo">
          <img ng-src="img/logo.png">
        </div>
      </div>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="loginData.username" autocapitalize="off" autocorrect="off">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <div class="item">
        <div class="spacer" style="height: 20px;"></div>
        <button class="button  button-block  icon-left ion-log-in">Log In</button>
        <a href="#/signup" class="button button-calm button-block  icon-left ion-android-add-circle">Create Account</a>
      </div>
    </form>
    <div class="card" ng-show="newUser">
      <div class="item item-text-wrap alert-success">{{newUser}} has been created. Please log in</div>
    </div>
    <div class="card" ng-show="warning">
      <div class="item item-text-wrap alert-warning">{{warning}}</div>
    </div>
  </ion-content>
</ion-view>
