<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
        </ion-nav-buttons>
      </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">Synergy App</div>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item href="#/app/directory" menu-close="">Directory</ion-item>
                <ion-item href="#/app/edit-profile" menu-close="">Edit Profile</ion-item>
                <ion-item href="#/login" menu-close="">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
