<ion-view title="{{user.fullName}}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list card">
      <div class="item item-image">
        <img src="{{picture}}">
      </div>
    </div>
  </ion-content>
</ion-view>
