<ion-view title="Sign Up">
  <ion-content overflow-scroll="true" padding="'true'" scroll="false" class="has-header solid-bg">
    <div class="card" ng-show="warning">
      <div class="item item-text-wrap alert-warning">{{warning}}</div>
    </div>
    <form class="list" name="signUpForm" novalidate>
      <ion-list>

        <label class="item item-input">
          <span class="input-label">Full Name</span>
          <input type="text" name="fullName" ng-model="fullName"  required autocapitalize="off" autocorrect="off"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="username" required autocapitalize="off" autocorrect="off"/>

        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="email" required autocapitalize="off" autocorrect="off"/>

        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="password" required/>
        </label>
      </ion-list>
      <div class="item">
        <button type="submit" class="button button-positive button-block" ng-click="signUp(fullName, username, email, password)" ng-disabled="signUpForm.$invalid">Sign up</button>
      </div>

      <div class="item" ng-hide="signUpForm.$valid">
        <p ng-show="signUpForm.fullName.$error.required">* Full Name is required</p>
        <p ng-show="signUpForm.username.$error.required">* Username is required</p>
        <p ng-show="signUpForm.email.$invalid && !myForm.username.$pristine">* Valid email address is required</p>
        <p ng-show="signUpForm.password.$error.required">* Password is required</p>
      </div>
    </form>
  </ion-content>
</ion-view>
